* {
    margin: 0;
    box-sizing: border-box;
}

form {
    position: relative;
    top: 100px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px #999;
    padding: 30px;
    
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em sans-serif;
    border: 1px solid #999;
}

span {
    position: relative;
    display: flex;
    justify-content: right;
}

input:invalid + span::before, textarea:invalid + span::before {
    content: '✖';
    color: red;
}

input:valid + span::before, textarea:valid + span::before {
    content: '✓';
    color: green;
}

input + span::before {
    position: absolute;
    top: -47px;
    right: 5px;
}

textarea + span::before {
    position: absolute;
    top: -70px;
    right: 5px;
}

label {
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

button {
    background-color: white;
    border: 1px solid rgb(21, 4, 98);
    color: rgb(21, 4, 98);
    font-weight: bold;
    padding: 15px;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(21, 4, 98);
    color: white;
    cursor: pointer;
}

input:focus, textarea:focus {
    border-color: rgb(21, 4, 98) !important;
}

input:invalid, textarea:invalid {
    border-color: red;
}

input:valid, textarea:valid {
    border-color: green;
}

@media screen and (max-width: 768px) {
    form {
        width: 100%;
    }

    footer {
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    button {
        width: 100%;
    }
    footer {
        height: 100%;
        width: 100%;
    }
}

footer {
    position: relative;
    bottom: -288px;
}